[defaults]

nocows = true
forks = 20
stdout_callback = community.general.yaml
callbacks_enabled = ansible.posix.timer
bin_ansible_callbacks = true

# Must include in production environments.
# retry_files_enabled = true
# retry_files_save_path = /path/to/retry_files


[ssh_connection]

ssh_args = -o ControlMaster=auto -o ControlPersist=30m \
           -o ForwardAgent=yes -o ControlPath=/tmp/%r@%h:%p
