[defaults]

nocows = true
stdout_callback = community.general.yaml
callbacks_enabled = ansible.posix.timer


[ssh_connection]

ssh_args = -o ControlMaster=auto -o ControlPersist=30m \
           -o ForwardAgent=yes -o ControlPath=/tmp/%r@%h:%p
